/.vs
obj
bin
*.pubxml
/src/Feature/Account/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Feature/Account/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Feature/Account/website/SVCommerce.Feature.Account.csproj.user
/src/Feature/BasicContent/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Feature/BasicContent/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Feature/BasicContent/website/SVCommerce.Feature.BasicContent.csproj.user
/src/Feature/Navigation/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Feature/Navigation/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Feature/Navigation/website/SVCommerce.Feature.Navigation.csproj.user
/src/Feature/Products/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Feature/Products/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Feature/Products/website/SVCommerce.Feature.Products.csproj.user
/src/Feature/Services/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Feature/Services/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Feature/Services/website/Properties/PublishProfiles/FolderProfile1.pubxml
*.user
/src/Feature/Services/website/SVCommerce.Feature.Services.csproj.user
/src/Feature/Sync/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Feature/Sync/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Feature/Sync/website/Properties/PublishProfiles/FolderProfile1.pubxml
/src/Feature/Sync/website/SVCommerce.Feature.Sync.csproj.user
/src/Foundation/FieldRendering/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Foundation/FieldRendering/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Foundation/FieldRendering/website/SVCommerce.Foundation.FieldRendering.csproj.user
/src/Foundation/RestGatewayManager/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Foundation/RestGatewayManager/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Foundation/RestGatewayManager/website/SVCommerce.Foundation.RestGateway.csproj.user
/src/Foundation/Serialization/website/Properties/PublishProfiles/FolderProfile1.pubxml
/src/Foundation/Serialization/website/SVCommerce.Foundation.Serialization.csproj.user
/src/Project/SVCommerce/website/Properties/PublishProfiles/FolderProfile.pubxml
/src/Project/SVCommerce/website/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Project/SVCommerce/website/SVCommerce.Project.Store.csproj.user
